{% extends 'base.html' %} 

{% block head %}
<title>Edit Post</title>
{% endblock %}

{% block body %}

<h1>Editing Posts</h1>

<hr>
<h2>Edit:</h2>

<form action="/posts/edit/{{post.id}}" method="POST">
    <label for="title">Title:</label>
    <input class="form-control" type="text" name="title" id="title" placeholder="Title of the Blog" aria-label="Enter Title" value="{{post.title}}">
    <br>

    <label for="author">Author:</label>
    <input class="form-control" type="text" name="author" id="author" placeholder="Author of the Blog" aria-label="Enter Author Name" value="{{post.author}}">
    <br>

    <label for="content">Post:</label>
    <textarea class="form-control" name="content" id="content" aria-label="Content of the Blog" rows="3" >{{post.content}}</textarea>
    <br>
  
  <input class="btn btn-success" type="submit" value="Save" />
</form>

<hr>

{% endblock %}